.idea
/EcoStepBackend/EcoStepBackend/bin
/EcoStepBackend/EcoStepBackend/obj
eco-step-app.sln
.vscode/*
EcoStepBackend/EcoStepBackend/main.db*
EcoStepBackend/EcoStepBackend/publish
EcoStepBackend/EcoStepBackend/Logs
Front/node_modules
.env